.main {
  display: flex;
  padding: 16px;
  justify-content: center;
  flex-grow: 1;
}

.main-container {
  width: 75%;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
}

.area {
    display: grid;
    width: 100%;
    margin:30px 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "featured   ."
    "featured  secondary"
    ". secondary"
    "third ."
    "third ."
    "third ."
    "forth forth";
    gap: 10px


}

.grid {
    border-radius: 10% 2%;
    padding: 24px;
}

.content {
    padding: 10%;
}

.grid.story {
    background-color: #B9D4AA;
    grid-area: featured;


}
    
.grid.background-A {
    background-attachment: fixed;
    background-image: url('../img/background-4.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: right;
    background-size: 60% auto;
    grid-area: secondary;
   
}

.grid.history { 
    background-color: #B9D4AA;
    
}

.grid.backgroundB {
    background-attachment: fixed;
    background-image: url('../img/background2.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: left;
    background-size: 60% auto;
    grid-area: third;
    
}
.grid.craftmanship,
.grid.promise{
    background-color: rgb(176, 130, 130);
    
}



.grid-9 {
    border-radius: 15% 5%;
    background-color: aqua;
}
.address-grid {
    border-radius: 10% 2%;
    background-color: rgb(208, 175, 181);
    grid-area: forth;
}

.address-area {
    padding: 20px;
}

.address {
    display: flex;
    justify-content: space-around;

}

.address-area h2 {
    text-align: center;
}

.detail {
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 768px) {

    .main-container {
        width: 100%;
        padding-bottom: 52px;
      }

    .area {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:30px 0;
        grid-template-columns: 1fr;
        gap: 10px
    }

    .content {
        padding: 12px;
    }

    article {
        background-color: white;
        opacity: 0.7;
        padding: 10px;
    }

    .grid.story {
        background-image: url('../img/background-4.jpg');
        background-repeat: no-repeat;
        background-size:  cover;

    }

    .grid.history {
        background-image: url('../img/background-3.jpg');
        background-repeat: no-repeat;
        background-size:  cover;

    }

    .grid.craftmanship {
        background-image: url('../img/background2.jpg');
        background-repeat: no-repeat;
        background-size:  cover;
    }

    .grid.promise {
        background-image: url('../img/background-1.jpg');
        background-repeat: no-repeat;
        background-size:  cover;
    }

    .background-A,
    .backgroundB{
        display: none;
    }

    .address{
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 300px;
        height: 200px
    }

}